.bg-dark {
  background-color: rgb(21, 43, 68) !important;
  filter: drop-shadow(10px 4px 4px rgb(17, 35, 55));
}

/* mobile */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.navbar-brand {
  padding-top: 0px;
  height: 70px;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 75vw;
  display: table-row;
}

.logo-img {
  height: 80px;
  margin-left: 10px;
  padding: 0;
}

.nav-item {
  color: rgb(161, 161, 167);
  margin-right: 5px;
}

.nav-link {
  padding: 0;
}
.menu-right {
  display: flex;
  flex-direction: row;
  margin-right: 530px;
}

@media (max-width: 1079px) {
  .menu-right {
    margin-right: 0px;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(161, 161, 167);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-brand {
  color: #2ce925;
}

.btn {
  letter-spacing: 0.0475rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: aliceblue;
}

.sitename-lower {
  margin-left: 10px;
  position: relative;
  text-transform: uppercase;
  text-shadow: -15px 5px 20px #ced0d3;
  color: white;
  letter-spacing: -0.05em;
  font-family: 'Anton', Arial, sans-serif;
  user-select: none;
  text-transform: uppercase;
  font-size: xx-large;
  transition: all 0.25s ease-out;
}

/* .navbar-nav .nav-link {
  text-align: center;
  width: 500px;
  background-color: red;
  align-content: center;
} */
